body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightslategrey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: lightslategrey;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightseagreen;
  color: white;
}

.category {
    /* fill: yellowgreen; */
    rx: 200px;
    ry: 5px;
   
}

.category:hover {
    fill: olivedrab;
    width: 170px;
    rx: 200px;
    ry: 25px;
    cursor: pointer;
}

.genera {
    rx: 200px;
    ry: 5px;
    
}

.genera:hover {
    fill: #9DC209;
    width: 100px;
    rx: 150px;
    ry: 5px;
    cursor: pointer;

}
.small {
    font: italic 13px sans-serif;
}


.heavy {
    font: bold 20px sans-serif; 
}
